body {
    background-image: url("./stripes-light.png");
}

#content {
    background-image: url("./stripes-light.png");
}

#breh {
    font-family: "Comic Sans MS", cursive, sans-serif;
}

div {
    overflow: hidden;
}

img {
    max-width: 100%;
    max-height: 100%;
}
